<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A VIPER module.</string>
	<key>Summary</key>
	<string>A VIPER module.</string>
	<key>SortOrder</key>
	<string>7</string>
	<key>DefaultCompletionName</key>
	<string>SwiftViperModule</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>viperModuleName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Default</key>
			<string>___VARIABLE_viperModuleName___</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
